.main-div-Finance {
  padding: 50px;
  display: flex;
border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  margin-right: 15%;
  height: auto;
  -webkit-animation: fadein 0.5s;
}


h2.toptitle {
    font-weight: normal;
    color:white;
    margin:0;
    padding: 0;
}


h1.h1t {
    font-weight: lighter;
        color:white;
        margin:0;
        padding: 0;
    }

.InfoCard {
  text-align: center;
  font-size: 1rem;
width:auto;
margin-right: 0px;
  padding: 25px;
  line-height: 1.0;
  background-color: #606985;
  height: fit-content;
  min-width: 150px;
  
}




.fcard-grid{
display: flex;
justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
height: fit-content;
   
}


