#invoice-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
}

p{

    font-size: 1.1rem;
}

#name_date_top {
  display: flex;
  flex-direction: column;
}

#client-name {
  max-width: 300px;
padding: 0;
margin:0;
  width: fit-content;

}

#date {
  display: flex;
  

  justify-content: flex-end;
}

#logop {
  margin-right: 350px;
  display: flex;
  align-items: center;
  opacity: 70%;
}

#price-container {
  margin-left: 350px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: end;
}

#bottom-container {
  align-content: flex-start;
  display: flex;
  flex: 0.5;
}

#signature {
  margin-right: 300px;
}

#desc-container {
  display: flex;
}

#descreption {
  margin-left: 100px;

 
}

#price {
  flex: 2;
}

#details {
opacity: 70%;
font-size: 0.9rem;

}