.main-div-AddCustomer{
margin: 30px;
padding: 20px;
height: 75vh;
border: solid 1px rgb(3, 3, 70);
margin-right: 20%;
display: flex;
justify-content: center;
background-color: rgb(246, 246, 246);
}


 #titlec {
font-size: 1.3rem;

}


.inputs {

display: flex;
flex-direction: column;
margin-top: 20%;

}

.newcustname {
padding: 10px;
width: fit-content;
font-size: 1.3rem;

}

#buttons-bottom {

width: 100px;
margin-top: 100px;
justify-items: center;
}

form {

display: flex;
flex-direction: column;


} 