.main-div-Dashboard {
  display: flex;
  margin-right: 15vw;
  margin-top: 25px;
  -webkit-animation: fadein 0.5s;
  justify-content: center;
}

.data-container {
  -webkit-animation: fadein 0.5s;
  display: flex;
  justify-content: center;
  margin-right: 15vw;
  padding: 10px;

}

#line {
  border: solid 1px rgb(3, 3, 70);
  width: 40%;
  padding: 10px;
  margin: 10px;
}

#pie {
  border: solid 1px rgb(3, 3, 70);
  width: 40%;
  padding: 20px;
  margin: 10px;

}

#moneytitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15vw;
}


