
#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: rgba(26, 109, 6, 0.918); 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 14px; 
    position: fixed; 
    z-index: 1; 
   left:2.5%;
   margin-left:2.5%;
    bottom: 30px; 
  }
  
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadeint 0.5s, fadeoutt 0.5s 2s;
    animation: fadeint 0.5s, fadeoutt 0.5s 2s;
  }
  

  @-webkit-keyframes fadeint {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadeint {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeoutt {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeoutt {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }